<h1>{{title}}</h1><br>
<div class="container">
  <form>
    Número 1: <input type="number" name="number1" id="numero1" [(ngModel)]="number1"><br><br>
    Número 2: <input type="number" name="number2" id="numero2" [(ngModel)]="number2"><br><br>
    <input class="btn btn-success" type="submit" value="SUMAR" (click)="sumar()">
    <input class="btn btn-danger" type="submit" value="RESTAR" (click)="restar()"><br>
    <input class="btn btn-warning" type="submit" value="MULTIPLICAR" (click)="mult()">
    <input class="btn btn-info" type="submit" value="DIVIDIR" (click)="div()"><br><br>
    RESULTADO: <label>{{resultado}}</label>
  </form>
</div>

